*{
    font-family: 'poppins',sans-serif;
}
.link-items li{
    color:white;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    list-style-type: none;
}
.link-items li:hover{
    color: grey;
}
.movie-card{
    transition: transform 0.3s ease-in-out,z-index 0.3s ease-in-out;
}
.movie-card:hover{
    transform: scale(1.03);
    z-index: 5;
}
